.img {
    margin: 6px 6px;
    border: 4px solid #eee;
    box-shadow: rgb(224, 199, 199) 1px 1px 8px 1px;
    cursor: pointer;
  }

  h3{
    margin-left: 20px;
  }

  div{
    display: flex;
    justify-content: center;
  }