<h2>Tus compras:</h2>
<div class="container">
    <table class="table table-bordered table-inverse">
        <tr>
            <th>Color</th>
            <th>Marca</th>
            <th>Precio</th>
            <th>Rodado</th>

        </tr>

        <tr>
            <td>
                {{color}}
            </td>
            <td>
                {{marca}}
            </td>
            <td>
                {{precio}}
            </td>
            <td>
                {{rodado}}
            </td>
        </tr>
    </table>

    <!-- {{bikes[1].name}} -->

</div>