
<app-navbar></app-navbar>
<div style="text-align: center;">
    <h1>Globomatics Bike System</h1>
    <h5><a [routerLink]="['/home']">Carga Garantia</a></h5>
    
    <h5><a [routerLink]="['/admin']">Listado de garantias cargadas</a></h5>
    
    <!--<h5><a [routerLink]="['/galeria']">Ver galeria de fotos </a></h5> lo dejo comentado porque lo agregue en el navbar-->

</div>
<!-- 
<app-admin></app-admin>

<app-image-gallery></app-image-gallery>
<app-home></app-home> -->
<router-outlet></router-outlet>
